:root {
  //  color
  --white-color: #ffffff;
  --bg-color: #F6F7F9;
  --primery-color: #005BFEFF;
  --primery-hover-color: #0047C6;
  --secondary-color: #F81155;
  --secondary-hover-color: #D1003E;

  //  fonts
  --regular-font: 'Circe Regular';
  --bold-font: 'Circe Bold';


}

